<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fragment-nav">
<header>
    <div class="navbar navbar-dark bg-dark box-shadow basic-navbar">
        <a href="http://localhost:8080" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
            <strong>Game</strong>
        </a>

        <div>
            <p class="navbar-text d-inline">루비<span th:text="${account.golds.ruby.amount}" class="col">Ruby</span></p>
            <p class="navbar-text d-inline">다이아<span th:text="${account.golds.diamond.amount}" class="col">Diamond</span></p>

            <div class="d-inline dropdown">
                <button class="navbar-toggler" type="button" id="dropdownContent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownContent">
                    <a class="dropdown-item" href="http://localhost:8080/logout">로그아웃</a>
                </div>
            </div>

        </div>
    </div>
</header>
</body>
</html>