<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<input type="hidden" id="userId" th:value="${account.id}">
<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragment/storeSidebar.html :: fragment-store-sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">상품 리스트</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary" id="launch-create-product-modal">상품 추가</button>
                        </div>
                    </div>
                </div>

                <form th:action="@{/admin}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name="keyword" th:value="${searchNameKeyword}" class="form-control">
                        <input id="productGoldType" type="hidden" name="goldType" th:value="${searchGoldType}" class="form-control">
                    </div>
                </form>

                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">이미지</th>
                        <th scope="col">이름</th>
                        <th scope="col">카테고리</th>
                        <th scope="col">골드형태</th>
                        <th scope="col">가격</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${productList}" >
                        <th class="align-middle" th:text="${product.id}" scope="row">id</th>
                        <td class="align-middle">
                            <img th:if="${product.image.url != ''}" th:src="${product.image.url}" width="30" height="30">
                        </td>
                        <td class="align-middle" th:text="${product.name}">name</td>
                        <td class="align-middle" th:text="${product.category}">category</td>
                        <td class="align-middle" th:text="${product.type}">type</td>
                        <td class="align-middle" th:text="${product.price.amount}">price</td>
                        <td class="align-middle">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-secondary deleteButton" th:data-whatever="|${product.id}|">삭제</button>
                                <button type="button" class="btn btn-outline-secondary launch-change-modal changeButton" th:data-whatever="|${product.id}|">수정</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination justify-content-center"
                        th:with="startPage=${T(java.lang.Math).floor(productList.number/10)*10 + 1},
                            endPage=(${startPage + 9 < productList.totalPages ? startPage + 9 : productList.totalPages})">
                        <th:block th:with="firstPage=@{/admin(page=1, keyword=${searchNameKeyword}, goldType=${searchGoldType})},
                        prevPage=@{/admin(page=${productList.number}, keyword=${searchNameKeyword}, goldType=${searchGoldType})},
                        nextPage=@{/admin(page=${productList.number + 2}, keyword=${searchNameKeyword}, goldType=${searchGoldType})},
                        lastPage=@{/admin(page=${productList.totalPages}, keyword=${searchNameKeyword}, goldType=${searchGoldType})}">
                            <li class="page-item">
                                <a class="page-link" th:href="${firstPage}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:class="|page-item ${productList.first} ? 'disabled'|">
                                <a class="page-link" th:href="${productList.first} ? '#' :${prevPage}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                th:class="|page-item ${page == productList.number + 1} ? 'active'|">
                                <a class="page-link" th:text="${page}" th:href="@{/admin(page=${page}, keyword=${searchNameKeyword}, goldType=${searchGoldType})}"></a>
                            </li>
                            <li th:class="|page-item ${productList.last} ? 'disabled'|">
                                <a class="page-link" th:href="${productList.last} ? '#' : ${nextPage}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="${lastPage}" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>

<!--            <div class="paragraph">-->
<!--                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">-->
<!--                    <h1 class="h2">추가</h1>-->
<!--                </div>-->

<!--                <p>이름 <input type="text" id="name"></p>-->
<!--                <p>카테고리 <input type="text" id="category"></p>-->
<!--                <p>골드형태 <input type="text" id="type"></p>-->
<!--                <p>가격 <input type="number" id="price"></p>-->
<!--                <p>이미지주소 <input type="text" id="imageUrl"></p>-->
<!--                <button id="createButton">추가</button>-->
<!--            </div>-->

            <div class="container">
                <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addProductModalLabel">상품 추가하기</h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="name" class="col-form-label">상품 이름:</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="category" class="col-form-label">카테고리:</label>
                                        <input type="text" class="form-control" id="category">
                                    </div>
                                    <div class="mb-3">
                                        <label for="type" class="col-form-label">골드형태:</label>
                                        <input type="text" class="form-control" id="type">
                                    </div>
                                    <div class="mb-3">
                                        <label for="price" class="col-form-label">가격:</label>
                                        <input type="number" class="form-control" id="price">
                                    </div>
                                    <div class="mb-3">
                                        <label for="imageUrl" class="col-form-label">이미지주소:</label>
                                        <input type="text" class="form-control" id="imageUrl">
                                    </div>
                                    <div id="success-paragraph" class="mb-3 d-none" >
                                        <p>추가성공! 창이 자동으로 닫힙니다.</p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close-create-product-modal" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" id="createButton">추가</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>