<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <script type="text/javascript" th:src="@{/js/deliveryBox.js}"></script>
</head>

<body>
<div class="container">
    <div class="wide-card card-container">
        <div class="card-section">
            <button class="btn" id="back">뒤로 가기</button>
        </div>
        <div class="card-section">
            <h1>보낸 택배함</h1>
            <div class="row row-header">
                <div class="col">ID</div>
                <div class="col">Receiver</div>
                <div class="col">Items</div>
                <div class="col">Ruby</div>
                <div class="col">Date</div>
                <div class="col">State</div>
                <div class="col">Action</div>
            </div>
            <div th:each="delivery : ${sendDeliveries}" class="row">
                <div th:text="${delivery.id}" class="col">ID</div>
                <div th:text="${delivery.receiver.username}" class="col">username</div>
                <div th:if="${not #lists.isEmpty(delivery.items)}" class="col">
                    <div th:each="item : ${delivery.items}">
                        <p><span th:text="${item.product.name}">Name</span> //  <span th:text="${item.amount}">Amount</span>개</p>
                    </div>
                </div>
                <div th:unless="${not #lists.isEmpty(delivery.items)}" class="col"></div>
                <div th:text="${delivery.ruby.amount}" class="col">Ruby</div>
                <div th:text="${delivery.date}" class="col">Date</div>
                <div th:text="${delivery.state}" class="col">State</div>
                <div class="col"><button class="btn" th:id="|${delivery.id}_cancel|" class="cancelButtons">취소하기</button></div>
            </div>
        </div>

        <br/>
        <br/>
        <br/>

        <div class="card-section">
            <h1>받은 택배함</h1>
            <div class="row row-header">
                <div class="col">ID</div>
                <div class="col">Items</div>
                <div class="col">Ruby</div>
                <div class="col">Date</div>
                <div class="col">State</div>
                <div class="col">Action</div>
            </div>
            <div th:each="delivery : ${receivedDeliveries}" class="row">
                <div th:text="${delivery.id}" class="col">ID</div>
                <div th:if="${not #lists.isEmpty(delivery.items)}" class="col">
                    <div th:each="item : ${delivery.items}">
                        <p><span th:text="${item.product.name}">Name</span> //  <span th:text="${item.amount}">Amount</span>개</p>
                    </div>
                </div>
                <div th:unless="${not #lists.isEmpty(delivery.items)}" class="col"></div>
                <div th:text="${delivery.ruby.amount}" class="col">Ruby</div>
                <div th:text="${delivery.date}" class="col">Date</div>
                <div th:text="${delivery.state}" class="col">State</div>
                <div class="col"><button class="btn" th:id="|${delivery.id}_accpet|" class="acceptButtons">수령하기</button>
                    <button class="btn" th:id="|${delivery.id}_reject|" class="rejectButtons">거절하기</button></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>