<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>toy-lostark</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body>
    <h1>리스트</h1>
    <table id="productTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.name}">name</td>
            <td th:text="${product.category}">category</td>
            <td th:text="${product.price}">price</td>
        </tr>
        </tbody>
    </table>

    <h1>추가</h1>
    <p>이름 <input type="text" id="name"></p>
    <p>카테고리 <input type="text" id="category"></p>
    <p>가격 <input type="number" id="price"></p>
    <button id="createButton">추가</button>

    <h1>삭제</h1>
    <p>아이디 <input type="number" id="deleteId"></p>
    <button id="deleteButton">삭제</button>
</body>
</html>