<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPage.css}">
    <script type="text/javascript" th:src="@{/js/my-charges.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragment/myPageSidebar.html :: fragment-my-sidebar"></div>
        <input type="hidden" id="userId" th:value="${account.id}">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">충전하기</h1>
                </div>
                <div>
                    <p>충전정보 아이디 <input type="number" id="exchangeRateId"></p>
                    <div class="errorMessages" id="chargeErrorBox"></div>
                    <button class="btn" id="chargeKakaoPayButton">카카오페이</button>
                    <button class="btn" id="chargePaycoButton">페이코</button>
                </div>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">금액</th>
                            <th scope="col">다이아몬드</th>
                            <th scope="col">보너스</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="exchangeRate : ${exchangeRates}">
                            <th th:text="${exchangeRate.id}" scope="row">id</th>
                            <td th:text="|${exchangeRate.price.amount}원|">price</td>
                            <td th:text="|${exchangeRate.diamond.amount}개|">diamond</td>
                            <td th:text="|${exchangeRate.bonus}개|">bonus</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">충전내역</h1>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">날짜</th>
                            <th scope="col">금액</th>
                            <th scope="col">다이아몬드</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="chargeOrder : ${chargeOrders}">
                            <th th:text="${chargeOrder.id}" scope="row">id</th>
                            <td th:text="${chargeOrder.date}">bonus</td>
                            <td th:text="|${chargeOrder.price.amount}원|">price</td>
                            <td th:text="|${chargeOrder.diamond.amount}개|">diamond</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

</body>
</html>