<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPage.css}">
    <script type="text/javascript" th:src="@{/js/my-charges.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragment/myPageSidebar.html :: fragment-my-sidebar"></div>
        <input type="hidden" id="userId" th:value="${account.id}">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">충전</h1>
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary launch-charge-modal" data-toggle="modal" data-target="#chargeModal" id="chargeButton">충전하기</button>
                    </div>
                </div>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">금액</th>
                            <th scope="col">다이아몬드</th>
                            <th scope="col">보너스</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="exchangeRate : ${exchangeRates}">
                            <th th:text="${exchangeRate.id}" scope="row">id</th>
                            <td th:text="|${exchangeRate.price.amount}원|">price</td>
                            <td th:text="|${exchangeRate.diamond.amount}개|">diamond</td>
                            <td th:text="|${exchangeRate.bonus}개|">bonus</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="chargeRadio" th:value="|${exchangeRate.id}_${exchangeRate.price.amount}_${exchangeRate.diamond.amount}|">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <div class="modal fade" id="chargeModal" tabindex="-1" aria-labelledby="chargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="chargeModalLabel">충전하기</h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <p>충전정보 아이디 : <span id="exchangeRateId"></span></p>
                                    </div>
                                    <div class="mb-3">
                                        <p>다이아몬드 갯수 : <span id="chargeAmount"></span></p>
                                    </div>
                                    <div class="mb-3">
                                        <p>충전 총액 : <span id="chargePrice"></span></p>
                                    </div>
                                    <div id="purchase-success-paragraph" class="mb-3 d-none" >
                                        <p>충전성공! 창이 자동으로 닫힙니다.</p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close-charge-modal" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" id="chargeKakaoPayButton">충전</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">충전내역</h1>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">날짜</th>
                            <th scope="col">금액</th>
                            <th scope="col">다이아몬드</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="chargeOrder : ${chargeOrders}">
                            <th th:text="${chargeOrder.id}" scope="row">id</th>
                            <td th:text="${chargeOrder.date}">bonus</td>
                            <td th:text="|${chargeOrder.price.amount}원|">price</td>
                            <td th:text="|${chargeOrder.diamond.amount}개|">diamond</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

</body>
</html>