<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPage.css}">
    <script type="text/javascript" th:src="@{/js/my-items.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragment/myPageSidebar.html :: fragment-my-sidebar"></div>
        <input type="hidden" id="userId" th:value="${account.id}">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">아이템 목록</h1>
                </div>
                <div class="row pt-3 px-4">
                    <div th:each="item : ${items}" class="col-xs-1 d-flex bg-white border border-dark m-0 p-0 position-relative">
                        <div class="p-3 gem-image-box">
                            <img class="img-fluid d-block mx-auto my-auto" src="https://drive.google.com/uc?export=view&id=19FAJQh4YBlHngcX1I2zCQtya_n5S9Gmb" th:alt="${item.product.name}" width="75" height="75">
                        </div>
                        <div th:text="${item.amount}" class="h5 text-black m-0 position-absolute bottom-right"></div>
                    </div>
                </div>
                <div>
                    <div class="row row-header">
                        <div class="col">ID</div>
                        <div class="col">Product ID</div>
                        <div class="col">Name</div>
                        <div class="col">Amount</div>
                    </div>
                    <div th:each="item : ${items}" class="row">
                        <div th:text="${item.id}" class="col">ID</div>
                        <div th:text="${item.product.id}" class="col">Product ID</div>
                        <div th:text="${item.product.name}" class="col">Name</div>
                        <div th:text="${item.amount}" class="col">Amount</div>
                    </div>
                </div>
            </div>

            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">아이템 구매 내역</h1>
                </div>
                <div>
                    <div class="row row-header">
                        <div class="col">Name</div>
                        <div class="col">Amount</div>
                        <div class="col">Gold Type</div>
                        <div class="col">Price</div>
                        <div class="col">Date</div>
                    </div>
                    <div th:each="itemOrder : ${itemOrders}" class="row">
                        <div th:text="${itemOrder.product.name}" class="col">Name</div>
                        <div th:text="${itemOrder.productAmount}" class="col">Amount</div>
                        <div th:text="${itemOrder.goldType}" class="col">Gold Type</div>
                        <div th:text="${itemOrder.price.amount}" class="col">Price</div>
                        <div th:text="${itemOrder.date}" class="col">Date</div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

</body>
</html>