<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPage.css}">
    <script type="text/javascript" th:src="@{/js/myPage.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragment/myPageSidebar.html :: fragment-my-sidebar"></div>
        <input type="hidden" id="userId" th:value="${account.id}">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">충전정보</h1>
            </div>
            <div>
                <div class="row row-header">
                    <div class="col">ID</div>
                    <div class="col">Price</div>
                    <div class="col">Diamond</div>
                    <div class="col">Bonus</div>
                </div>
                <div th:each="exchangeRate : ${exchangeRates}" class="row">
                    <div th:text="${exchangeRate.id}" class="col">id</div>
                    <div th:text="${exchangeRate.price.amount}" class="col">price</div>
                    <div th:text="${exchangeRate.diamond.amount}" class="col">diamond</div>
                    <div th:text="${exchangeRate.bonus}" class="col">bonus</div>
                </div>
            </div>


            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">충전하기</h1>
            </div>
            <div>
                <p>충전정보 아이디 <input type="number" id="exchangeRateId"></p>
                <div class="errorMessages" id="chargeErrorBox"></div>
                <button class="btn" id="chargeKakaoPayButton">카카오페이</button>
                <button class="btn" id="chargePaycoButton">페이코</button>
            </div>


            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">충전내역</h1>
            </div>
            <div>
                <div class="row row-header">
                    <div class="col">ID</div>
                    <div class="col">Date</div>
                    <div class="col">Price</div>
                    <div class="col">Diamond</div>
                </div>
                <div th:each="chargeOrder : ${chargeOrders}" class="row">
                    <div th:text="${chargeOrder.id}" class="col">id</div>
                    <div th:text="${chargeOrder.date}" class="col">bonus</div>
                    <div th:text="${chargeOrder.price.amount}" class="col">price</div>
                    <div th:text="${chargeOrder.diamond.amount}" class="col">diamond</div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>