<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <script type="text/javascript" th:src="@{/js/myPage.js}"></script>
</head>

<body>
<div class="container">
    <div class="wide-card card-container">
    <button id="back">뒤로 가기</button>
    <br/>
    <button id="deliveryBox">택배함 가기</button>

    <h1>계정정보</h1>
    <input type="hidden" id="userId" th:value="${account.id}">
    <button id="logoutButton">로그아웃</button>
<!--    <div th:value="${#ctx.httpSession.token}"></div>-->
    <table id="accountTable">
        <thead>
        <tr>
            <th>Username</th>
            <th>Diamond</th>
            <th>Ruby</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${account.username}">username</td>
            <td th:text="${account.golds.diamond.amount}">diamond</td>
            <td th:text="${account.golds.ruby.amount}">ruby</td>
        </tr>
        </tbody>
    </table>

    <h1>아이템정보</h1>
    <table id="itemsTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}">ID</td>
            <td th:text="${item.product.name}">Name</td>
            <td th:text="${item.amount}">Amount</td>
        </tr>
        </tbody>
    </table>

    <h1>택배 보내기</h1>
    <p>아이템 아이디 <input type="number" id="cartAccountProductId"> 갯수 <input type="number" id="cartProductAmount"></p>
    <p>루비 <input type="number" id="rubyAmount"></p>
    <p>받는 사람 아이디 <input type="text" id="receiverUsername"> </p>
    <br/>
    <button id="deliveryButton">보내기</button>

    <h1>아이템 구매 내역</h1>
    <table id="itemOrdersTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Gold Type</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="itemOrder : ${itemOrders}">
            <td th:text="${itemOrder.product.name}">Name</td>
            <td th:text="${itemOrder.productAmount}">Amount</td>
            <td th:text="${itemOrder.goldType}">Gold Type</td>
            <td th:text="${itemOrder.price.amount}">Price</td>
            <td th:text="${itemOrder.date}">Date</td>
        </tr>
        </tbody>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>

    <h1>충전정보</h1>
    <table id="exchangeTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Diamond</th>
            <th>Bonus</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exchangeRate : ${exchangeRates}">
            <td th:text="${exchangeRate.id}">id</td>
            <td th:text="${exchangeRate.price.amount}">price</td>
            <td th:text="${exchangeRate.diamond.amount}">diamond</td>
            <td th:text="${exchangeRate.bonus}">bonus</td>
        </tr>
        </tbody>
    </table>


    <h1>충전</h1>
    <p>충전정보 아이디 <input type="number" id="exchangeRateId"></p>
    <div class="errorMessages" id="chargeErrorBox"></div>
    <button id="chargeKakaoPayButton">카카오페이</button>
    <button id="chargePaycoButton">페이코</button>

    <h1>충전내역</h1>
    <table id="chargeOrderTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Price</th>
            <th>Diamond</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chargeOrder : ${chargeOrders}">
            <td th:text="${chargeOrder.id}">id</td>
            <td th:text="${chargeOrder.date}">date</td>
            <td th:text="${chargeOrder.price.amount}">price</td>
            <td th:text="${chargeOrder.diamond.amount}">diamond</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>