<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>toy-game-platform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" th:src="@{/js/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/js/myPage.js}"></script>
</head>

<body>
    <h1>계정정보</h1>
    <input type="hidden" id="userId" th:value="${account.id}">
    <table id="accountTable">
        <thead>
        <tr>
            <th>Username</th>
            <th>Diamond</th>
            <th>Ruby</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${account.username}">username</td>
            <td th:text="${account.golds.diamond.amount}">diamond</td>
            <td th:text="${account.golds.ruby.amount}">ruby</td>
        </tr>
        </tbody>
    </table>

    <h1>충전내역</h1>
    <table id="chargeOrderTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Price</th>
            <th>Diamond</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chargeOrder : ${chargeOrders}">
            <td th:text="${chargeOrder.id}">id</td>
            <td th:text="${chargeOrder.date}">date</td>
            <td th:text="${chargeOrder.price.amount}">price</td>
            <td th:text="${chargeOrder.diamond.amount}">diamond</td>
        </tr>
        </tbody>
    </table>

    <h1>충전정보</h1>
    <table id="exchangeTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Diamond</th>
            <th>Bonus</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exchangeRate : ${exchangeRates}">
            <td th:text="${exchangeRate.id}">id</td>
            <td th:text="${exchangeRate.price.amount}">price</td>
            <td th:text="${exchangeRate.diamond.amount}">diamond</td>
            <td th:text="${exchangeRate.bonus}">bonus</td>
        </tr>
        </tbody>
    </table>


    <h1>충전</h1>
    <p>충전정보 아이디<input type="number" id="exchangeRateId"></p>
    <button id="chargeKakaoPayButton">카카오페이</button>
    <button id="chargeNaverPayButton">네이버페이 </button>

<!--    <h1>삭제</h1>-->
<!--    <p>아이디 <input type="number" id="deleteId"></p>-->
<!--    <button id="deleteButton">삭제</button>-->
</body>
</html>