<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>

<body>
    <div class="container">
        <div class="card card-container">
            <h1>회원가입</h1>
            <p id="profile-name" class="profile-name-card"></p>
            <form th:action="@{/account}" class="form-signin"  method="POST">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" name="username" id="inputEmail" class="form-control" placeholder="ID" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">등록하기</button>
            </form><!-- /form -->
            <div class="forgot-password"><a href="http://localhost:8080/login" class="forgot-password">로그인 하러가기</a></div>
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>