<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/store.css}">
    <script type="text/javascript" th:src="@{/js/store.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<input type="hidden" id="userId" th:value="${account.id}">
<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragment/storeSidebar.html :: fragment-store-sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="paragraph">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">상품 리스트</h1>
                </div>
                <form th:action="@{/store}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name="keyword" th:value="${searchNameKeyword}" class="form-control">
                        <input id="productGoldType" type="hidden" name="goldType" th:value="${searchGoldType}" class="form-control">
                    </div>
                </form>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">이름</th>
                            <th scope="col">카테고리</th>
                            <th scope="col">골드형태</th>
                            <th scope="col">가격</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${productList}" >
                            <th th:text="${product.id}" scope="row">id</th>
                            <td th:text="${product.name}">name</td>
                            <td th:text="${product.category}">category</td>
                            <td th:text="${product.type}">type</td>
                            <td th:text="${product.price.amount}">price</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-secondary launch-purchase-modal" data-toggle="modal" data-target="#storeModal" th:data-whatever="|${product.id}|">구매하기</button>
                                    <button type="button" class="btn btn-outline-secondary launch-delivery-modal" data-toggle="modal" data-target="#storeModal" th:data-whatever="|${product.id}|">선물하기</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination justify-content-center"
                        th:with="startPage=${T(java.lang.Math).floor(productList.number/10)*10 + 1},
                            endPage=(${startPage + 9 < productList.totalPages ? startPage + 9 : productList.totalPages})">
                        <th:block th:with="firstPage=@{/store(page=1, keyword=${searchNameKeyword}, goldType=${searchGoldType})},
                        prevPage=@{/store(page=${productList.number}, keyword=${searchNameKeyword}, goldType=${searchGoldType})},
                        nextPage=@{/store(page=${productList.number + 2}, keyword=${searchNameKeyword}, goldType=${searchGoldType})},
                        lastPage=@{/store(page=${productList.totalPages}, keyword=${searchNameKeyword}, goldType=${searchGoldType})}">
                            <li class="page-item">
                                <a class="page-link" th:href="${firstPage}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:class="|page-item ${productList.first} ? 'disabled'|">
                                <a class="page-link" th:href="${productList.first} ? '#' :${prevPage}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                th:class="|page-item ${page == productList.number + 1} ? 'active'|">
                                <a class="page-link" th:text="${page}" th:href="@{/store(page=${page}, keyword=${searchNameKeyword}, goldType=${searchGoldType})}"></a>
                            </li>
                            <li th:class="|page-item ${productList.last} ? 'disabled'|">
                                <a class="page-link" th:href="${productList.last} ? '#' : ${nextPage}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="${lastPage}" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>

            <div class="container">
                <div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="storeModalLabel">상품 구매하기</h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="cartProductId" class="col-form-label">상품 아이디:</label>
                                        <input type="number" class="form-control" id="cartProductId" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cartProductAmount" class="col-form-label">갯수:</label>
                                        <input type="number" class="form-control" id="cartProductAmount">
                                    </div>
                                    <div id="purchase-success-paragraph" class="mb-3 d-none" >
                                        <p>구매성공! 창이 자동으로 닫힙니다.</p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close-purchase-modal" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" id="purchaseButton">구매</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>