<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/commonHeader.html :: fragment-header"></div>
    <script type="text/javascript" th:src="@{/js/store.js}"></script>
</head>

<body>
<div th:replace="/fragment/goldNavbar.html :: fragment-nav"></div>
<div class="container">
    <div class="wide-card card-container">
        <input type="hidden" id="userId" th:value="${account.id}">
        <div class="card-section">
            <h1>상품 리스트</h1>
            <div class="row row-header">
                <div class="col">ID</div>
                <div class="col">Name</div>
                <div class="col">Category</div>
                <div class="col">Gold Type</div>
                <div class="col">Price</div>
            </div>
            <div th:each="product : ${productList}" class="row">
                <div th:text="${product.id}" class="col">id</div>
                <div th:text="${product.name}" class="col">name</div>
                <div th:text="${product.category}" class="col">category</div>
                <div th:text="${product.type}" class="col">type</div>
                <div th:text="${product.price.amount}" class="col">price</div>

            </div>
        </div>
        <div class="card-section">
            <h1>구매하기</h1>
            <p>아이디 <input type="number" id="cartProductId"> 갯수 <input type="number" id="cartProductAmount"> </p>
            <br/>
            <button class="btn" id="purchaseButton">구매</button> <button class="btn" id="deliveryButton">선물</button>
        </div>
    </div>
</div>
</body>
</html>